name: Quantity Service

on:
  push:
    branches: [ "quantity" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Create application.yml
        run: |
          mkdir -p ./quantity-service/src/main/resources
          echo "${{ secrets.APPLICATION_ORDR }}" | base64 --decode > ./quantity-service/src/main/resources/application.yml

      - name: Build with Gradle
        run: |
          cd quantity-service
          ./gradlew build -x test

      - name: Debug Secrets
        run: |
          echo "DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}"
          echo "DOCKER_PASSWORD length: ${#DOCKER_PASSWORD}"

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Docker build
        run: |
          cd quantity-service
          docker build -t app .
          docker tag app ${{ secrets.DOCKER_USERNAME }}/quantity-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/quantity-service:latest

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_SSH_KEY_QUAN }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/quantity-service:latest
            docker stop $(docker ps -a -q)
            docker run -d --log-driver=syslog -p 8081:8081 ${{ secrets.DOCKER_USERNAME }}/quantity-service:latest
            docker rm $(docker ps --filter 'status=exited' -a -q)
            docker image prune -a -f
