name: user-service

on:
  # User브랜치에서 일어난 push/pull request에 작동한다.
  push:
    branches: [ "user-service" ]
  pull_request:
    branches: [ "user-service" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# This workflow contains a single job called "build"
jobs:
  build:
    # machine which runner would use
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: JDK 17 설치
        uses: actions/setup-java@v4.0.0
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: application.yml 생성
        shell: bash
        run: |
          mkdir user-service/src/main/resources
          cd user-service/src/main/resources
          touch ./application.yml

          echo "${{ secrets.USER_APPLICATIONYML }}" >> ./application.yml
          
      - name: Grant execute permission for gradlew
        run: chmod +x user-service/gradlew
      
      - name: Build with Gradle
        run: |
          cd user-service
          ./gradlew clean --stacktrace --info build

      - name: archive repository #tar 명령어를 이용하여 User폴더 압축 
        run: tar cvfz ./user-service.tar.gz user-service/*
         
        # github secret 이용하여 AWS설정
      - name: AWS configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.USER_ACCESS }}
          aws-secret-access-key: ${{ secrets.USER_SECRET_ACCESS }}
          aws-region: ap-northeast-2
          
        # 압축파일 이름, 버켓 이름 설정에 주의
      - name: upload to S3
        run: aws s3 cp --region ap-northeast-2 ./user-service.tar.gz s3://osio-s3/user-service/
        
        # codeDeploy 실행, 다양한 이름 설정에 주의
      - name: deploy with AWS codeDeploy
        run: aws deploy create-deployment
          --application-name codedeploy-user
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name deploy-group-user
          --s3-location bucket=osio-s3,bundleType=tgz,key=user-service/user-service.tar.gz
