name: User Service

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'

    - name: Build with Gradle
      run: |
        cd user-service
        ./gradlew build -x test

    - name: Docker build
      run: |
        cd user-service
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker build -t app .
        docker tag app ${{ secrets.DOCKER_USERNAME }}/user-service:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/user-service:latest
    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_SSH_KEY }} # EC2 인스턴스 퍼블릭 DNS
        username: ec2-user
        key: ${{ secrets.PRIVATE_KEY }} # pem 키
        # 도커 작업
        script: |
          cd user-service
          docker pull ${{ secrets.DOCKER_USERNAME }}/user-service:latest
          docker stop $(docker ps -a -q)
          docker run -d --log-driver=syslog -p 8083:8083 ${{ secrets.DOCKER_USERNAME }}/user-service:latest
          docker rm $(docker ps --filter 'status=exited' -a -q)
          docker image prune -a -f
